<div id="metadata">
  <p-toast></p-toast>
  <div class="d-flex">
    <input type="text" class="flex-grow-1" pInputText [(ngModel)]="title"  placeholder="New Song Title...">
    <p-dropdown [options]="sections" [(ngModel)]="selectedSection" placeholder="Select a Section"></p-dropdown>
  </div>
</div>
<div id="editor">
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <div *ngFor="let line of lines" class="d-flex align-items-center">
      <input type="text" pInputText [(ngModel)]="line.content" [class.marked]="line.marked" 
        [class]="{ 'line-chord':line.type==chordType.CHORD, 'line-normal':line.type==chordType.NORMAL,'line-chorus':line.type==chordType.CHORUS}"
        (focus)="setLastLineSelected(line);"
        (focusout)="setLastLineSelected(undefined)"
        class="flex-grow-1 line-input">
      <div>
      <a class="mx-2" (click)="deleteLine(line)" (mouseenter)="line.setMarked(true);" (mouseleave)="line.setMarked(false);" label=""><i class="pi pi-trash" [ngStyle]="{color:'var(--pink-500)'}"></i></a>
      <a class="mx-2" (click)="addNextLine(line.id,'New Normal Line...',chordType.NORMAL)" label=""><i class="pi pi-plus" [ngStyle]="{color:'var(--green-500)'}"></i></a>
    </div>
  </div>

</div>
<div id="button-actions">

  <div class="d-flex justify-content-between">
    <div >
      <button pButton type="button" (click)="addLine('New Chord Line...',chordType.CHORD)" label="Chords" class="mx-1" icon="pi pi-plus" iconPos="left" pTooltip="Ctrl+A" tooltipPosition="top"></button>
      <button pButton type="button" (click)="addLine('New Normal Line...',chordType.NORMAL)" label="Normal" class="mx-1" icon="pi pi-plus" iconPos="left" pTooltip="Ctrl+S" tooltipPosition="top"></button>
      <button pButton type="button" (click)="addLine('New Chorus Line...',chordType.CHORUS)" label="Chorus" class="mx-1"  icon="pi pi-plus" iconPos="left" pTooltip="Ctrl+D" tooltipPosition="top"></button>
      <button pButton type="button" (click)="clear()" label="Clear" icon="pi pi-times" class="mx-1" iconPos="left"></button>
      <button pButton type="button" (click)="createLinesFromClipboard()" label="Paste" icon="pi pi-copy" class="mx-1" iconPos="left"></button>
      
    </div>
    <div >
      <button pButton type="button" (click)="downloadJson()" label="Request" icon="pi pi-check" class="" iconPos="left" [disabled]="!songIsValid()"></button>
    </div>
  </div> 

</div>