:host{
    display: grid;
    height: 100%;
    padding: 5px;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: "metadata"
                         "editor"
                         "buttons";
}

#metadata{
    grid-area: metadata;
}

#editor{
    overflow-y: auto;
    grid-area: editor;
}

#buttons-actions{
    grid-area: buttons;
}

.title-input{
    border: none;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: x-large;
}

.line-input{
    border: none;
    border-left: solid lightgray;
    border-radius: 0;
    margin-right: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.marked {
    background-color: rgb(226, 226, 226);
}

.line-chord{
    color: gray;
    font-weight: bold;
}

.line-normal{
    color: black;
}

.line-chorus{
    color: blue;
    font-weight: bold;
}

a{
    text-decoration: none;
}

:host ::ng-deep .p-dropdown{
    width: 100% !important;
}